<div class="panel panel-default">
	<div class="panel-heading"><h1>Listing recipients</h1></div>
	<div class="panel-body">
		<div id="recipients" class="transitions-enabled">
			<% @recipients.each do |recipient| %>
				<div class="box panel panel-default">
					<% if recipient.user %>
						<div class="panel-heading"><%= link_to recipient.name, recipient %></div>
						<div class="panel-body">
							<strong>Birthdate: </strong><%= recipient.birthday %>
							<br />
							<br />
							<strong><%= link_to 'Edit', recipient %></strong> | 
							<%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<br>
	<div class="panel-footer center">
	<%= link_to 'New Recipient', new_recipient_path %>
	</div>
</div>